@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(
      to right,
      #201c3d,
      #181a35,
      #12182c,
      #0f1422,
      #0b1019,
      #0b1019,
      #0c101a,
      #0c101a,
      #101524,
      #14182e,
      #1b1c38,
      #231e41
    );
    
    font-family: "Poppins";
    color: wheat;
  }

  h1  {
    color: #f89e52;
    font-weight: 700;
    letter-spacing: 1px;
  }

  li {
  color: #f89e52;
  cursor: pointer;
  }

  span {
    color: white;
  }

  #border {
    height: 200px;
    width: 40%;
    border-radius: 23px;
    background: linear-gradient(225deg, #050b1534, #05091234);
    box-shadow: -8px 8px 16px #02040880,
        8px -8px 16px #08102088;
        
  }
    
}
